name: build

on:
  workflow_dispatch:
  push:
      branches:
      - main
  pull_request:
    branches:
      - '*'

permissions:
  contents: read
  actions: read

env:
  DOTNET_NOLOGO: true

jobs:
  build:

    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet 8.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.x
      - name: Setup dotnet 9.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.x
      - name: Setup dotnet 10.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release
      - name: Test with dotnet
        run: dotnet test --configuration Release
          /p:CollectCoverage=true
          /p:CoverletOutputFormat="\"cobertura,json\""
          /p:CoverletOutput=coverage/
          /p:IncludeTestAssembly=false